
body {
	background: radial-gradient(ellipse at center, #f5f5f5 0%,#ddd 100%);
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

.grid-item {
	display: grid;
	justify-content: center;
	background-color: #262626;
	border: 1px solid lightblue;
	color: aliceblue;
	padding: 0.85rem;
}

/*for small devices*/
.wrapper {
	display: grid;
	grid-template-rows:100px 250px 100px;
	grid-gap: 4px;
}

@media only screen and (min-width:768px) {
	.wrapper {
		grid-template-columns:200px 200px 20px 240px;
		grid-template-rows:100px 250px 80px;
		grid-gap: 8px;
		justify-content: center;
		grid-template-areas:
		"header header . aside"
		"section section . aside"
		"footer footer footer footer";
	}

	.header {
		grid-area: header;
	}
	.section{
		grid-area: section;
	}
	.aside{
		grid-area: aside;
	}
	.footer{
		grid-area: footer;
	}
}